<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
      <% if @current_user.id == 1 %>
        <%= button_to("削除", "/users/#{@user.id}/destroy", data: { turbo_method: :delete }) %>
      <% end %>
    </div>
  </div>
</div>